<!-- Footer Section Begin -->
<footer class="footer set-bg" data-setbg="/bootstrap/img/footer-bg.jpg">
    <div class="container">
        <div class="footer__content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="/"><img src="/bootstrap/img/omilo_logo_transparent.png" alt=""></a>
                        </div>
                        <h4>(123) 456-78-91096</h4>
                        <ul>
                            <li>02277,서울특별시 송파구 올림픽로27</li>
                            <li>mk2277k@gmail.com</li>
                        </ul>
                        <div class="footer__social">
                            <a href="https://www.facebook.com/?locale=ko_KR"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.tripadvisor.co.kr/"><i class="fa-tripadvisor"></i></a>
                            <a href="https://www.youtube.com/"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-5 offset-md-1 col-sm-6">
                    <div class="footer__widget">
                        <ul>
                            <li><a href="/">홈</a></li>
                            <li><a href="/reservation">객실 예약</a></li>
                            <li><a href="/contact">호텔 찾기</a></li>
                            <li><a href="/board">공지사항</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a></p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
                <div class="col-lg-5 col-md-5">
                    <ul class="footer__copyright__links">
                        <li><a href="/room_search">Terms Of Use</a></li>
                        <li><a href="/tempt">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="/bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bootstrap/js/jquery.nice-select.min.js"></script>
<script src="/bootstrap/js/jquery-ui.min.js"></script>
<script src="/bootstrap/js/jquery.slicknav.js"></script>
<script src="/bootstrap/js/owl.carousel.min.js"></script>
<script src="/bootstrap/js/main.js"></script>
