<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hiroto Template">
    <meta name="keywords" content="Hiroto, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Omilo | Template</title>

    <!-- Css Styles -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/css/style.css" type="text/css">

</head>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header Section Begin -->
<header class="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="header__top__auth">
                        <ul>
                            <li sec:authorize="isAnonymous()"><a th:href="@{/login}">로그인</a></li>
                            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></li>
                            <li><a href="/signup">회원가입</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__nav__option">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/"><img src="/bootstrap/img/omilo_logo.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul class="menu__class">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/reservation">객실 예약</a></li>
                                <li><a href="/about">호텔 소개</a>
                                    <ul class="dropdown">
                                        <li><a href="/contact">호텔 찾기</a></li>
                                        <li><a href="/room">객실 정보</a></li>
                                    </ul>
                                </li>
                                <li><a href="/board">공지사항</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <span class="fa fa-bars"></span>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->