<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<!-- header 추가 -->
<div th:insert="/common/header.html" id="header"></div>
<!-- Hero Section Begin -->
<section class="hero spad set-bg" data-setbg="/bootstrap/img/hero.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="#" class="filter__form">
                    <!--                    <div class="filter__form__item filter__form__item&#45;&#45;search">-->
                    <!--                        <p>호텔 또는 도시</p>-->
                    <!--                        <div class="filter__form__input">-->
                    <!--                            <input type="text" placeholder="호텔을 입력하세요">-->
                    <!--                            <span class="icon_search"></span>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="filter__form__item filter__form__item--search">
                        <p>호텔 또는 도시</p>
                        <div class="filter__form__input">
                            <input type="text" placeholder="호텔을 입력하세요" list="searchOptions">
                            <datalist id ="searchOptions">
                                <option value="오밀로 서울">
                                <option value="오밀로 부산">
                            </datalist>
                            <span class="icon_search"></span>
                        </div>
                    </div>
                    <div class="filter__form__item">
                        <p>체크인</p>
                        <div class="filter__form__datepicker">
                            <span class="icon_calendar"></span>
                            <input type="text" class="datepicker_pop check__in">
                            <i class="arrow_carrot-down"></i>
                        </div>
                    </div>
                    <div class="filter__form__item">
                        <p>체크아웃</p>
                        <div class="filter__form__datepicker">
                            <span class="icon_calendar"></span>
                            <input type="text" class="datepicker_pop check__out">
                            <i class="arrow_carrot-down"></i>
                        </div>
                    </div>
                    <div class="filter__form__item filter__form__item--select">
                        <p>인원수</p>
                        <div class="filter__form__select">
                            <span class="icon_group"></span>
                            <select>
                                <option value="">성인 2</option>
                                <option value="">성인 2, 어린이 1</option>
                                <option value="">성인 2</option>
                                <option value="">성인 1</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit">검색</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<br>
<br>
<br>
<!-- footer 추가 -->
<div th:insert="common/footer.html" id="footer"></div>
</body>
</html>